extends ./templates/main
include ./mixins/navbar

block main
	br
	h1.text-center.text-primary scrappy
	h3.text-center.text-info technologyreview.com
	br
	.row
		.offset-lg-2.col-lg-8
			table.table.table-inverse
				thread
					tr
						th Result
				tbody
					each val in data
						tr
							th(scope="row")
								a(href="/article/" + val.title) !{val.title}