body {
	background-image: url("../images/simple.png");
}

h1,h2,h3{
	font-family: 'Gloria Hallelujah', cursive;
}

.fa-external-link{
	transition: 1s;
	font-size: xx-large !important;
	color: black;
}

.fa-external-link:hover{
	transition: 1s;
	color: paleturquoise;
	text-shadow: 0 0 10px coral;
}

.form-control{
	min-height: 200px;
	background-color: grey;
	color: white;
}

.form-control:focus{
	transition: 2s;
	background-color: black;
	color: white;
}

.call-card{
	transition: 1s;
}

.call-card:hover{
	transition: 1s;
	color:white;
}

.has-danger{
	border: 1px dotted red;
}

.has-danger:focus{
	border: 2px dotted red;
}

.hidden{
	display: none;
}

.navbar-brand{
	margin-left: 8%;
	color: lightsteelblue;
}

.navbar-inverse{
	background-color: rgb(60,60,60);
}